version: "3.1"
services:
  data_acquisition:
    build: ./data_acquisition
    environment:
      - BEARER_TOKEN="${BEARER_TOKEN}"
    depends_on:
      database:
        condition: service_healthy
    networks:
      - backend

#  data_processing:
#    build: ./data_processing
#    depends_on:
#      database:
#        condition: service_healthy
#    networks:
#      - backend
#
#  data_visualization:
#    build: ./data_visualization
#    depends_on:
#      database:
#        condition: service_healthy
#    networks:
#      - frontend
#      - backend
#
#  sentiment_analysis_nn:
#    build: ./sentiment_analysis_nn
#    depends_on:
#      database:
#        condition: service_healthy
#    networks:
#      - backend
#
#  sentiment_analysis_nn_pretrained:
#    build: ./sentiment_analysis_nn_pretrained
#    depends_on:
#      database:
#        condition: service_healthy
#    networks:
#      - backend
#
#  sentiment_analysis_vader:
#    build: ./sentiment_analysis_vader
#    depends_on:
#      database:
#        condition: service_healthy
#    networks:
#      - backend

  database:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    expose: 
      - 27017
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo localhost:27017/test --quiet
      retries: 5
      interval: 15s
      start_period: 30s
    networks:
      - backend

  database_ui:
    image: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
      ME_CONFIG_MONGODB_SERVER: database
    depends_on:
      database:
        condition: service_healthy
    networks:
      - backend
      - frontend

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge